body
{
font-family: Arial;
background: #f4f6f8;
}

.container
{
width: 80%;
margin: auto;
background: white;
padding: 20px;
margin-top: 50px;
border-radius: 10px;
box-shadow: 0 0 10px gray;
}

table
{
width: 100%;
border-collapse: collapse;
}

table, th, td
{
border: 1px solid black;
padding: 8px;
}
